# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

# Seu código aqui

dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

temperaturasemindex = pd.Series(dados)
temperaturasemindex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:

# seu código aqui

temperaturacomindex = pd.Series(dados, index=[1900, 1920, 1940, 1960, 1980, 2000, 2020])
temperaturacomindex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [10]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

anotemp = pd.Series(dic_temperaturas)
anotemp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [39]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
dfarr = pd.DataFrame(arr)
dfarr

             0           1           2
0    91.525808  132.782027  101.627635
1   109.508421   89.453397   95.826586
2    88.398937   82.141615   90.502051
3    86.221227   89.645859   96.558852
4    86.179594   99.659533  103.280354
5    84.976779   93.203982  108.093390
6   109.169700  109.949283   98.995926
7   108.715717   98.544256   97.054344
8    97.662936  110.216633  107.174980
9   103.330124   83.909415  120.251844
10  105.488305   92.280394  137.993365
11   87.374708  126.307816  115.168976
12   91.916271   98.419998   95.372855
13   79.661214   91.058201  105.725294
14   88.294402   94.119276   90.269874
15  101.009054  102.183109  107.426768
16   97.589176  102.028029  102.631834
17  116.104219  106.208763   94.879339
18  114.457508   94.239343  125.959154
19  118.444650  113.641618  117.620949

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [40]:
#seu código aqui
dfarr.index = range(1,21)
dfarr.columns = ("x1","x2","x3")
dfarr

            x1          x2          x3
1    91.525808  132.782027  101.627635
2   109.508421   89.453397   95.826586
3    88.398937   82.141615   90.502051
4    86.221227   89.645859   96.558852
5    86.179594   99.659533  103.280354
6    84.976779   93.203982  108.093390
7   109.169700  109.949283   98.995926
8   108.715717   98.544256   97.054344
9    97.662936  110.216633  107.174980
10  103.330124   83.909415  120.251844
11  105.488305   92.280394  137.993365
12   87.374708  126.307816  115.168976
13   91.916271   98.419998   95.372855
14   79.661214   91.058201  105.725294
15   88.294402   94.119276   90.269874
16  101.009054  102.183109  107.426768
17   97.589176  102.028029  102.631834
18  116.104219  106.208763   94.879339
19  114.457508   94.239343  125.959154
20  118.444650  113.641618  117.620949

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [41]:
# seu código aqui
dfarr["media"] = dfarr["x1"] + dfarr["x2"] + dfarr["x3"] / len(dfarr.columns)
dfarr

            x1          x2          x3       media
1    91.525808  132.782027  101.627635  258.183714
2   109.508421   89.453397   95.826586  230.904014
3    88.398937   82.141615   90.502051  200.707903
4    86.221227   89.645859   96.558852  208.053370
5    86.179594   99.659533  103.280354  220.265911
6    84.976779   93.203982  108.093390  214.211891
7   109.169700  109.949283   98.995926  252.117625
8   108.715717   98.544256   97.054344  239.611421
9    97.662936  110.216633  107.174980  243.604563
10  103.330124   83.909415  120.251844  227.323486
11  105.488305   92.280394  137.993365  243.766488
12   87.374708  126.307816  115.168976  252.072183
13   91.916271   98.419998   95.372855  222.127220
14   79.661214   91.058201  105.725294  205.961181
15   88.294402   94.119276   90.269874  212.503636
16  101.009054  102.183109  107.426768  239.001085
17   97.589176  102.028029  102.631834  233.827816
18  116.104219  106.208763   94.879339  253.939428
19  114.457508   94.239343  125.959154  250.683235
20  118.444650  113.641618  117.620949  271.293252

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [43]:
# seu código aqui
dfarr["log_med"] = np.log(dfarr["media"])
dfarr

            x1          x2          x3       media   log_med
1    91.525808  132.782027  101.627635  258.183714  5.553671
2   109.508421   89.453397   95.826586  230.904014  5.442002
3    88.398937   82.141615   90.502051  200.707903  5.301851
4    86.221227   89.645859   96.558852  208.053370  5.337795
5    86.179594   99.659533  103.280354  220.265911  5.394836
6    84.976779   93.203982  108.093390  214.211891  5.366966
7   109.169700  109.949283   98.995926  252.117625  5.529896
8   108.715717   98.544256   97.054344  239.611421  5.479019
9    97.662936  110.216633  107.174980  243.604563  5.495546
10  103.330124   83.909415  120.251844  227.323486  5.426374
11  105.488305   92.280394  137.993365  243.766488  5.496211
12   87.374708  126.307816  115.168976  252.072183  5.529715
13   91.916271   98.419998   95.372855  222.127220  5.403250
14   79.661214   91.058201  105.725294  205.961181  5.327688
15   88.294402   94.119276   90.269874  212.503636  5.358959
16  101.009054  102.183109  107.426768  239.001085  5.476468
17   97.589176  102.028029  102.631834  233.827816  5.454585
18  116.104219  106.208763   94.879339  253.939428  5.537096
19  114.457508   94.239343  125.959154  250.683235  5.524190
20  118.444650  113.641618  117.620949  271.293252  5.603200